In [3]:
1+1

2

In [5]:
1+  1

2

In [4]:
5-2

3

5---2

In [8]:
5---2

3

In [9]:
5----2

7

In [10]:
48*2

96

In [11]:
8%2

0

In [13]:
8/2

4.0

In [14]:
8/0

ZeroDivisionError: division by zero

In [15]:
7/3

2.3333333333333335

In [16]:
7//2

3

##

In [18]:
7%2

1

In [19]:
7%0

ZeroDivisionError: integer division or modulo by zero

In [20]:
7**2

49

In [21]:
7**3

343

In [22]:
49**0.5

7.0

In [23]:
49**1/2  # precedence of ** is greater than /

24.5

8^2

In [24]:
49**(1/2)

7.0

In [25]:
8&2

0

In [26]:
8|2

10

In [27]:
8^2

10

In [28]:
8<<2

32

In [29]:
32<<3

256

In [31]:
8>>2

2

In [33]:
32>>3

4

In [34]:
8>>4

0

In [36]:
8**2//2+3

35

In [ ]:
## Print function

In [38]:
2 ** 3** 2 # ** is right asssociative

512

In [39]:
45 //5+3 & 2|1-3

-2

In [40]:
x=10
print(x)

10

x=10
print('the value of x is', x)
print(f'the value of x is {x}')
print('the value of x is '+ str (x))
print('the value of x is {}'.format (x))

In [94]:
fruit1 ='apple'
fruit2 ='banana'
fruit3 ='mango'
print('I like {},{},and {}'.format (fruit1,fruit2,fruit3))
print('I like {0},{1},and {2}'.format (fruit1,fruit2,fruit3))
print(f'I like {fruit1},{fruit2},and {fruit3}')
print('I like',fruit1,',',fruit2,',and',fruit3)
print('I like '+fruit1+','+fruit2+',and '+fruit3)

I like apple,banana,and mango
I like apple,banana,and mango
I like apple,banana,and mango
I like apple , banana ,and mango
I like apple,banana,and mango

#comment

In [95]:
print ('HELLO WORLD!')

HELLO WORLD!

In [ ]:
#'ctrl +/' to comment or uncomment the selected code
# COMMENT 1
# COMMENT 2
# COMMENT 3
# print('hello world");

# if else;if elif else

In [65]:
# Evewn or odd
num=7
if(num%2==0):
    print(num,'Even number')
else:
    print(num,'odd  number')

7 odd  number

# traffic lights logic
color = 'green'
if(color == 'red'):
    print('Stop')
elif(color == 'green'):
    print('Go')
else:
    print('Get ready')

#input

x=input('Enter the number: ')
print(type(x))
print(x)
print(int(x)+9)
print(x*16)

# type conversion

In [87]:
x=10
type(x)

int

In [89]:
x=3.14
type(x)

float

In [91]:
type(1)

int

In [93]:
print(type(1))  ## everything is object in python

<class 'int'>

In [ ]:
Comment line 1

In [72]:
int(4.5)

4

In [73]:
int(99)

99

In [74]:
int(4.9)

4

In [75]:
float(99)

99.0

In [76]:
chr('A')

TypeError: an integer is required (got type str)

In [78]:
#ASSII(A)=65
#ASCII(a)=97

In [79]:
chr(65)

'A'

In [80]:
chr(97)

'a'

In [82]:
ord('A')

65

In [83]:
ascii(65)

'65'

In [84]:

oct(32)

'0o40'

In [85]:
hex(32)

'0x20'

In [86]:
x=int(input('Enter the number:'))
print(type(x))
print(f'The entered number is{x}')

Enter the number:44
<class 'int'>
The entered number is44

# loops

In [96]:
for i in range(5):
    print(i)

0
1
2
3
4

In [98]:
for i in range(5):
    print(i,end=' ')

0 1 2 3 4

In [100]:
for i in range(0,5):
    print(i, end=' ')

01234

In [103]:
for i in range(0,5,1):
    print(i, end=' ')

0 1 2 3 4

In [ ]:
# *
# **
# ***
# ****

In [109]:
for i in range(5):
    for j in range(i+1):
        print('*',end = '')
    print()

*
**
***
****
*****

ro

In [111]:
rows = 5
print_count=1
for i in range(rows):
    for j in range (print_count):
        print('*',end ='')
    print_count = print_count+1
    print()

*
**
***
****
*****

In [114]:
rows = 5
print_count=1
for i in range(rows):
    for j in range (print_count):
        print(i,end ='')
    print_count = print_count+1
    print()

0
11
222
3333
44444

In [115]:
rows = 5
print_count=1
for i in range(rows):
    for j in range (print_count):
        print(j,end ='')
    print_count = print_count+1
    print()

0
01
012
0123
01234

In [116]:
rows = 5
print_count=1
count=65
for i in range(rows):
    for j in range (print_count):
        print(chr(count),end ='')
    print_count = print_count+1
    print()

A
AA
AAA
AAAA
AAAAA

In [117]:
rows = 5
print_count=1
count = 65
for i in range(rows):
    for j in range (print_count):
        print(chr(count),end ='')
    print_count = print_count+1
    count=count+1
    print()

A
BB
CCC
DDDD
EEEEE

In [ ]:
rows = 5
print_count=1
count = 65
for i in range(rows):
    for j in range (print_count):
        print(chr(count),end ='')
    print_count = print_count+1
    count=count+1
    print()

In [120]:
rows = 10
print_count=1
count = 65
for i in range(rows):
    for j in range (print_count):
        if(i%2==0):
            print(7,end ='')
        else:
            print('9',end='')
    print_count = print_count+1
    count=count+1
    print()

7
99
777
9999
77777
999999
7777777
99999999
777777777
9999999999

In [125]:
rows = 5
spaces =rows-1

print_count=1
count=
for i in range(rows):
    for j in range (spaces):
        print(end ='')
    spaces=spaces - 1
    for j in range(print_count):
        print('*',end = '')
    print_count = print_count +1   
    print()

*
**
***
****
*****

In [5]:
rows = 5
spaces = rows -1
print_count =1
for i in range(rows):
    for j in range(spaces):
        print(end =' ')
    spaces-=1
    for j in range(print_count):
        print('*',end='')
    print_count+=2
    print()

    *
   ***
  *****
 *******
*********

In [6]:
rows=5
spaces=0
print_count=2*rows-1
for i in range(rows):
    for j in range (spaces):
        print(end=' ')
    spaces=spaces+1
    for j in range (print_count):
        print('*',end ='')
    print_count=print_count-2
    print()

*********
 *******
  *****
   ***
    *

In [12]:

rows=10
spaces=0
print_count=2*rows-1
for i in range(rows):
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces+1
    for j in range (print_count):
        print('*',end ='')
    print_count=print_count-2
    print()

*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [16]:
rows=10
spaces=0
print_count=2*rows-1
for i in range(rows):
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces+1
    for j in range (print_count):
        print(i,end ='')
    print_count=print_count-2
    print()

0000000000000000000
 11111111111111111
  222222222222222
   3333333333333
    44444444444
     555555555
      6666666
       77777
        888
         9

In [17]:
rows=10
spaces=0
print_count=2*rows-1
for i in range(rows):
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces+1
    for j in range (print_count):
        print(i+1,end ='')
    print_count=print_count-2
    print()

1111111111111111111
 22222222222222222
  333333333333333
   4444444444444
    55555555555
     666666666
      7777777
       88888
        999
         10

In [20]:
rows=10
spaces=0
print_count=2*rows-1
for i in range(rows):
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces+1
    for j in range (print_count):
        print(i,end ='')
    print_count=print_count-2
    print()

0123456789101112131415161718
 012345678910111213141516
  01234567891011121314
   0123456789101112
    012345678910
     012345678
      0123456
       01234
        012
         0

In [21]:
rows=10
spaces=0
print_count=2*rows-1
for i in range(rows):
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces+1
    for j in range (print_count):
        print(i,end ='')
    print_count=print_count-2
    print()

0000000000000000000
 11111111111111111
  222222222222222
   3333333333333
    44444444444
     555555555
      6666666
       77777
        888
         9

In [23]:
rows=5
spaces=0
print_count=2*rows-1
for i in range(rows):
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces+1
    for j in range (print_count):
        print(j,end ='')
    print_count=print_count-2
    print()

012345678
 0123456
  01234
   012
    0

In [25]:
rows=5
spaces=0
print_count=2*rows-1
count=65
for i in range(rows):
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces+1
    for j in range (print_count):
        print(chr(count),end ='')
    print_count=print_count-2
    print()

AAAAAAAAA
 AAAAAAA
  AAAAA
   AAA
    A

In [30]:
rows=5
spaces=0
print_count=2*rows-1
count=65
for i in range(rows):
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces+1
    for j in range (print_count):
        print(chr(count),end ='')
    print_count=print_count-2
    count=count+1
    print()

AAAAAAAAA
 BBBBBBB
  CCCCC
   DDD
    E

In [32]:
rows=5
spaces=0
print_count=2*rows-1
count=65
for i in range(rows):
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces+1
    for j in range (print_count):
        print(chr(count),end ='')
        count=count+1
    print_count=print_count-2
    print()

ABCDEFGHIJKLMNOPQRS
 TUVWXYZ[\]^_`abcd
  efghijklmnopqrs
   tuvwxyz{|}~
    
     
      
       
        ¡¢£
         ¤

In [33]:


rows=5
spaces=0
print_count=2*rows-1
count=65
for i in range(rows):
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces+1
    for j in range (print_count):
        print(chr(count),end ='')
        count=count+1
    print_count=print_count-2
    print()

ABCDEFGHI
 JKLMNOP
  QRSTU
   VWX
    Y

In [35]:
rows=5
spaces=0
print_count=2*rows-1

for i in range(rows):
    count=65
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces+1
    for j in range (print_count):
        print(chr(count),end ='')
        count=count+1
    print_count=print_count-2
    print()

ABCDEFGHI
 ABCDEFG
  ABCDE
   ABC
    A

In [37]:
rows=5
spaces=0
print_count=2*rows-1

for i in range(rows):
  
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces+1
    for j in range (print_count):
        if(i%2 == 0):
            print('7',end ='')
        else:
            print('5',end='')
    print_count=print_count-2
    print()

777777777
 5555555
  77777
   555
    7

In [39]:
rows=5
spaces=0
print_count=2*rows-1

for i in range(rows):
  
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces+1
    for j in range (print_count):
        if(i%3 == 0):
            print('7',end ='')
        elif(i%3==1):
            print('5',end='')
        else:
            print('3',end='')
    print_count=print_count-2
    print()

777777777
 5555555
  33333
   777
    5

In [45]:
rows=10
spaces=rows-1
print_count=1

for i in range(rows):
  
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces-1
    for j in range (print_count):
        print('* ',end= '')
    print_count+=1
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [49]:
rows=10
spaces=rows-1
print_count=1

for i in range(rows):
  
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces-1
    for j in range (print_count):
        print(str(j)+' ' ,end= '')
    print_count+=1
    print()

         0
        0 1
       0 1 2
      0 1 2 3
     0 1 2 3 4
    0 1 2 3 4 5
   0 1 2 3 4 5 6
  0 1 2 3 4 5 6 7
 0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

In [51]:
rows=10
spaces=rows-1
print_count=1

for i in range(rows):
  
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces-1
    for j in range (print_count):
        print(str(i)+' ' ,end= '')
    print_count+=1
    print()

         0
        1 1
       2 2 2
      3 3 3 3
     4 4 4 4 4
    5 5 5 5 5 5
   6 6 6 6 6 6 6
  7 7 7 7 7 7 7 7
 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9

In [53]:
rows=10
spaces=rows-1
print_count=1
count=65
for i in range(rows):
  
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces-1
    for j in range (print_count):
        print(chr(count+j)+' ' ,end= '')
    print_count+=1
    print()

         A
        A B
       A B C
      A B C D
     A B C D E
    A B C D E F
   A B C D E F G
  A B C D E F G H
 A B C D E F G H I
A B C D E F G H I J

In [55]:
rows=10
spaces=rows-1
print_count=1

for i in range(rows):
  
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces-1
    for j in range (print_count):
        print('$ ' ,end= '')
    print_count+=1
    print()

         $
        $ $
       $ $ $
      $ $ $ $
     $ $ $ $ $
    $ $ $ $ $ $
   $ $ $ $ $ $ $
  $ $ $ $ $ $ $ $
 $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $

In [58]:
rows=10
spaces=rows-1
print_count=1
count=97
for i in range(rows):
  
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces-1
    for j in range (print_count):
        print(chr(count),end= ' ')
    count+=1
    print_count+=1
    print()

         a
        b b
       c c c
      d d d d
     e e e e e
    f f f f f f
   g g g g g g g
  h h h h h h h h
 i i i i i i i i i
j j j j j j j j j j

In [59]:
rows=10
spaces=rows-1
print_count=1
count=97
for i in range(rows):
  
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces-1
    for j in range (print_count):
        print(chr(count),end= ' ')
        rows=10
spaces=rows-1
print_count=1
count=97
for i in range(rows):
  
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces-1
    for j in range (print_count):
        print(chr(count),end= ' ')
    count+=1
    print_count+=1
    print()count+=1
    print_count+=1
    print()

IndentationError: unexpected indent (1340880816.py, line 12)

In [60]:
rows=10
spaces=rows-1
print_count=1
count=97
for i in range(rows):
  
    for j in range (spaces):
        print('',end=' ')
    spaces=spaces-1
    for j in range (print_count):
        print(chr(count),end= ' ')
        count+=1
    print_count+=1
    print()

         a
        b c
       d e f
      g h i j
     k l m n o
    p q r s t u
   v w x y z { |
  } ~      
         
         

In [66]:
rows=7
print_count=1
for i in range(rows):
    for j in range (print_count):
        print('*',end='')
    print_count+=1
    
   
    print()
rows =rows -1
print_count =rows
for i in range(rows):
    for j in range(print_count):
        print('*',end='')
    print_count-=1
    print()

*
**
***
****
*****
******
*******
******
*****
****
***
**
*

In [75]:
rows=5
spaces=0
print_count=rows
for i in range(rows):
  
    for j in range (spaces):
        print(' ',end='')
    spaces=spaces+1
    for j in range (print_count):
        print('* ',end='')
    
    print_count-=1
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [82]:
rows=5
spaces1=rows-1
print_count1=1
spaces2=rows-2
print_count2=rows
for i in range(rows):
  
    for j in range (spaces1):
        print('',end=' ')
    spaces1=spaces1-1
    for j in range (print_count1):
        print('*',end=' ')
    print_count1+=1
    for j in range (spaces2):
        print('',end=' ')
    for j in range (print_count2):
        print('*',end=' ')
    print_count2-=1
    print()

    *    * * * * *
   * *    * * * *
  * * *    * * *
 * * * *    * *
* * * * *    *

In [83]:
rows=5
spaces1=rows-1
print_count1=1
spaces2=rows-2
print_count2=rows
for i in range(rows):
  
    for j in range (spaces1):
        print('',end=' ')
    spaces1=spaces1-1
    for j in range (print_count1):
        print('$',end=' ')
    print_count1+=1
    for j in range (spaces2):
        print('',end=' ')
    for j in range (print_count2):
        print('?',end=' ')
    print_count2-=1
    print()

    $    ? ? ? ? ?
   $ $    ? ? ? ?
  $ $ $    ? ? ?
 $ $ $ $    ? ?
$ $ $ $ $    ?

In [89]:
rows=7
spaces1=rows-1
print_count1=1
spaces2=rows-2
print_count2=rows
count=65
for i in range(rows):
  
    for j in range (spaces1):
        print('',end=' ')
    spaces1=spaces1-1
    for j in range (print_count1):
        print(i,end=' ')
    print_count1+=1
    for j in range (spaces2):
        print('',end=' ')
    for j in range (print_count2):
        print(chr(count),end=' ')
    count=count+1
    print_count2-=1
    print()

      0      A A A A A A A
     1 1      B B B B B B
    2 2 2      C C C C C
   3 3 3 3      D D D D
  4 4 4 4 4      E E E
 5 5 5 5 5 5      F F
6 6 6 6 6 6 6      G

# Function

In [90]:
def fun():
    print('Hello world!')
fun()

Hello world!

In [91]:
def fun(count):
    for i in range(count):
        print('Hello world!')
fun(5)

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

In [94]:
def fun(sentence,count):
    for i in range(count):
        print(sentence)
fun('Mansi Maithani',7)

Mansi Maithani
Mansi Maithani
Mansi Maithani
Mansi Maithani
Mansi Maithani
Mansi Maithani
Mansi Maithani

In [96]:
def fun(sentence,count=1):
    for i in range(count):
        print(sentence)
fun('Mansi Maithani')

Mansi Maithani

In [97]:
def fun(sentence,count=1):
    for i in range(count):
        print(sentence)
fun(sentence ='Mansi Maithani')

Mansi Maithani

In [98]:
def fun(sentence,count=1):
    for i in range(count):
        print(sentence)
fun(count=3,sentence ='Mansi Maithani')

Mansi Maithani
Mansi Maithani
Mansi Maithani

In [108]:
def summation(num):
    result = 0
    for i in range(1,num+1):
        result = result+i
    return result
number=int(input('Enter the number: '))
result=summation(number)
print(f'sum of first {number} natural numbers={result}')

Enter the number: 7
sum of first 7 natural numbers=28

In [109]:
   def sum_of_natural_numbers(n):
    result = (n*(n+1))/2
    return result
number=int(input('Enter the number: '))
result=summation(number)
print(f'sum of first {number} natural numbers={result}')

Enter the number: 1
sum of first 1 natural numbers=1

In [117]:
 def sum_of_natural_numbers(n):
    result = (n*(n+1)*(2*n+1))/6
    return result
number=int(input('Enter the number: '))
result=sum_of_natural_numbers(number)
print(f'sum of first {number} natural numbers={result}')

Enter the number: 3
sum of first 3 natural numbers=14.0

In [120]:
 def sum_of_natural_numbers(n):
    result = ((n*(n+1))/2)**2
    return result
number=int(input('Enter the number: '))
result=sum_of_natural_numbers(number)
print(f'sum of first {number} natural numbers={result}')

Enter the number: 3
sum of first 3 natural numbers=36.0

#list

In [198]:
lst=[]
print(lst)
lst.append(1)
print(lst)

[]
[1]

In [123]:
lst=[1,2,3,4]
lst

[1, 2, 3, 4]

In [125]:
print(lst)

[1, 2, 3, 4]

In [126]:
lst.append(6)
print(lst)

[1, 2, 3, 4, 6]

In [127]:
lst.remove(3)
print(lst)

[1, 2, 4, 6]

In [133]:
print(type(lst))

<class 'list'>

In [134]:
lst.append(7.5)
print(lst)

[1, 2, 4, 6, 7.5]

In [135]:
lst.append('mansi')
print(lst)

[1, 2, 4, 6, 7.5, 'mansi']

In [199]:
lst.insert(1,9)
print(lst)

[1, 9]

In [200]:
lst=[1,3,4,5,6]
lst.insert(1,2)
print(lst)

[1, 2, 3, 4, 5, 6]

In [150]:
lst=[1,2,3,4,5,6,7,8,9]
print(lst[0])
print(lst[8])

1
9

In [152]:
lst=[2,5,1,7,3,8,4,0,9]
print(lst[-1])

9

In [153]:
lst

[2, 5, 1, 7, 3, 8, 4, 0, 9]

In [154]:
lst[::]

[2, 5, 1, 7, 3, 8, 4, 0, 9]

In [155]:
lst[:]

[2, 5, 1, 7, 3, 8, 4, 0, 9]

In [156]:
lst[0:]

[2, 5, 1, 7, 3, 8, 4, 0, 9]

In [157]:
lst[0::]

[2, 5, 1, 7, 3, 8, 4, 0, 9]

In [158]:
lst[0:3]

[2, 5, 1]

In [159]:
lst[4:8]

[3, 8, 4, 0]

In [161]:
lst[::2]

[2, 1, 3, 4, 9]

In [164]:
lst[0::1]

[2, 5, 1, 7, 3, 8, 4, 0, 9]

In [166]:
lst1=['python','rattle snake','cobra','anaconda',]
lst2=['viper','black mamba']
lst1.append(lst2)
print(lst1)
print(lst2)

['python', 'rattle snake', 'cobra', 'anaconda', ['viper', 'black mamba']]
['viper', 'black mamba']

In [201]:
lst1=['python','rattle snake','cobra','anaconda',]
lst2=['viper','black mamba']
lst1.extend(lst2)
print(lst1)
print(lst2)

['python', 'rattle snake', 'cobra', 'anaconda', 'viper', 'black mamba']
['viper', 'black mamba']

In [202]:
lst1=[1,4,6,8]
lst1.extend([0,4,7,8])
print(lst1)

[1, 4, 6, 8, 0, 4, 7, 8]

In [172]:
lst1=['python','rattle snake','cobra','anaconda',]
lst2=['viper','black mamba']
print(lst1+lst2)
print(lst1)
print(lst2)

['python', 'rattle snake', 'cobra', 'anaconda', 'viper', 'black mamba']
['python', 'rattle snake', 'cobra', 'anaconda']
['viper', 'black mamba']

In [173]:
lst1=['python','rattle snake','cobra','anaconda',]
lst2=['viper','black mamba']
lst3=(lst1+lst2)
print(lst3)

['python', 'rattle snake', 'cobra', 'anaconda', 'viper', 'black mamba']

In [174]:
lst1=['python','rattle snake','cobra','anaconda',]
lst2=['viper','black mamba']
lst3=(lst1+lst2)
print(lst1)

['python', 'rattle snake', 'cobra', 'anaconda']

In [175]:
lst=['python', 'rattle snake', 'cobra', 'anaconda']
lst.pop()  # TRY SHIFT TAB TAB TO OPEN DOCUMNETATION
print(lst)

['python', 'rattle snake', 'cobra']

In [176]:
lst=['python', 'rattle snake', 'cobra', 'anaconda']
lst.pop(2)  
print(lst)

['python', 'rattle snake', 'anaconda']

In [178]:
lst.pop(1)  
print(lst)

['python', 'anaconda']

In [179]:
lst=[1,2,3]
lst*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [185]:
lst =[1,2,3]
lst=lst*3
print (lst)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [191]:
lst=['python', 'rattle snake', 'cobra', 'anaconda']
print(max(lst))  #alphabetical
lst=['python', ' snake', 'cobra']
print(max(lst))

rattle snake
python

In [192]:
lst=[11,2,3,56,32,89,10]
max(lst)

89

In [193]:
lst=[11,2,3,56,32,89,10]
min(lst)

2

# tupple

In [203]:
mytupple=()
print (mytupple)

()

In [206]:
mytupple = tuple()
print(mytupple)

()

In [208]:
mytuple=(1,2,3,4,5)
print(mytuple)

(1, 2, 3, 4, 5)

In [209]:
mytuple[0]

1

In [210]:
mytuple[-1]

5

In [211]:
mytuple[0:3]

(1, 2, 3)

In [213]:
mytuple[0:3:2]

(1, 3)

In [214]:
mytuple[:]

(1, 2, 3, 4, 5)

In [215]:
mytuple[::]

(1, 2, 3, 4, 5)

In [216]:
mytuple[:2]

(1, 2)

In [219]:
mytuple[::2]

(1, 3, 5)

In [220]:
mytuple=[1,2,5,7,9,0,5,8]
mytuple[0]=3   #'tuple' object does not support item assignment

mytuple[0]=3   
print(mytuple)

[3, 2, 5, 7, 9, 0, 5, 8]

In [221]:
mytuple=('appple','mango','grapes','orange')
mytuple[0]='pine'

TypeError: 'tuple' object does not support item assignment

In [223]:
mytuple=('appple','mango','grapes','orange')
print(mytuple)
del mytuple
print(mytuple)

('appple', 'mango', 'grapes', 'orange')

NameError: name 'mytuple' is not defined

In [225]:
mytuple1=('appple','mango','orange')
mytuple2=('grapes','kiwi')
mytuple1+mytuple2

('appple', 'mango', 'orange', 'grapes', 'kiwi')

In [227]:
mytuple=(5,4,2,0,3,1)
print(len(mytuple))
print(max(mytuple))
print(min(mytuple))

6
5
0

# type conversion

In [228]:
lst=['appple','mango','grapes','orange']
mytuple=tuple(lst)
print(mytuple)

('appple', 'mango', 'grapes', 'orange')

In [229]:
mytuple=('appple','mango','grapes','orange')
mytuple=tuple(lst)
print(mytuple)

('appple', 'mango', 'grapes', 'orange')

# Sorting

In [3]:
lst=[5,1,4,8,2,6,3,7,9]
lst.sort()
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
lst=[5,1,4,8,2,6,3,7,9]
sorted(lst) #changes are not getting replicated in the original list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
lst=[5,1,4,8,2,6,3,7,9]
lst.sort(reverse =True)
print(lst)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
lst=[5,1,4,8,2,6,3,7,9]
lst=sorted(lst,reverse=True)
print(lst)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# LIST OF TUPPLES

In [12]:
lst=[(1,2),(7,3),(3,8),(9,4),(2,9)]
lst.sort()
print(lst)

[(1, 2), (2, 9), (3, 8), (7, 3), (9, 4)]

In [13]:
lst=[(1,2),(7,3),(3,8),(9,4),(2,9)]
lst.sort(reverse=True)
print(lst)

[(9, 4), (7, 3), (3, 8), (2, 9), (1, 2)]

In [14]:
lst=[(1,2),(7,3),(3,8),(9,4),(2,9)]
lst=sorted(lst)
print(lst)

[(1, 2), (2, 9), (3, 8), (7, 3), (9, 4)]

In [15]:
lst=[(1,2),(7,3),(3,8),(9,4),(2,9)]
lst=sorted(lst,reverse=True)
print(lst)

[(9, 4), (7, 3), (3, 8), (2, 9), (1, 2)]

In [16]:
lst=[(1,2),(7,3),(3,8),(9,4),(2,9)]
lst.sort(key=lambda element:element[1]) #second element is sorted first
print(lst)

[(1, 2), (7, 3), (9, 4), (3, 8), (2, 9)]

In [17]:
lst=[(1,2),(7,3),(3,8),(9,4),(2,9)]
lst.sort(key=lambda element:element[1],reverse=True) #second element is sorted first
print(lst)

[(2, 9), (3, 8), (9, 4), (7, 3), (1, 2)]

In [19]:
lst=[(1,2),(7,3),(3,8),(9,4),(2,9)]
lst=sorted(lst,key=lambda element:element[1])
print(lst)

[(1, 2), (7, 3), (9, 4), (3, 8), (2, 9)]

In [20]:
lst=[(1,2),(7,3),(3,8),(9,4),(2,9)]
lst=sorted(lst,key=lambda element:element[1],reverse=True)
print(lst)

[(2, 9), (3, 8), (9, 4), (7, 3), (1, 2)]

In [21]:
def fun(element):
    return element[1]
lst=[(1,2),(7,3),(3,8),(9,4),(2,9)]
lst.sort(key=fun)
print(lst)

[(1, 2), (7, 3), (9, 4), (3, 8), (2, 9)]

In [22]:
def fun(element):
    return element[1]
lst=[(1,2),(7,3),(3,8),(9,4),(2,9)]
lst.sort(key=fun,reverse=True)
print(lst)

[(2, 9), (3, 8), (9, 4), (7, 3), (1, 2)]

In [25]:
def fun(element):
    return element[1]
lst=[(1,2),(7,3),(3,8),(9,4),(2,9)]
lst=sorted(lst,key=fun)
print(lst)

[(1, 2), (7, 3), (9, 4), (3, 8), (2, 9)]

In [26]:
def fun(element):
    return element[1]
lst=[(1,2),(7,3),(3,8),(9,4),(2,9)]
lst=sorted(lst,key=fun,reverse=True)
print(lst)

[(2, 9), (3, 8), (9, 4), (7, 3), (1, 2)]

# Find the point closest to the origin

lst=[(-4,1),(2,3),(1,1),(5,2),(4,-3),(-5,-4)]
dist =[]
for element in lst:
    d=(element[0]**2+element[1]**2)**(1/2)
    dist.append((d,element))
dist.sort()
print(dist)

In [19]:
lst=[(-4,1),(2,3),(1,1),(5,2),(4,-3),(-5,-4)]
dist =[]
for element in lst:
    d=(element[0]**2+element[1]**2)**(1/2) 
    dist.append((d,element))
    
dist.sort()
print(dist)

[(1.4142135623730951, (1, 1)), (3.605551275463989, (2, 3)), (4.123105625617661, (-4, 1)), (5.0, (4, -3)), (5.385164807134504, (5, 2)), (6.4031242374328485, (-5, -4))]

In [20]:
lst=[(-4,1),(2,3),(1,1),(5,2),(4,-3),(-5,-4)]
dist =[]
for element in lst:
    d=(element[0]**2+element[1]**2)**(1/2) 
    dist.append((d,element))
    
#print(dist)
minimum=dist[0][0]
coordinate =dist[0][1]
for i in range(len(dist)):
    if(dist[i][0]<minimum):
        minimum=dist[i][0]
        coordinate=dist[i][1]
#print(minimum)
print(coordinate)

(1, 1)

# Find the point closet to x axis

In [46]:
lst=[(-4,1),(2,3),(1,1),(5,2),(4,-3),(-5,-4)]
dist =[]
for element in lst:
    if(element[1]>=0):
        d=element[1]
    else:
        d=-element[1]
    dist.append((d,element))
    
dist.sort()
print(dist[0][1])

(-4, 1)

In [21]:
lst=[(-4,1),(2,3),(1,1),(5,2),(4,-3),(-5,-4)]
dist =[]
for element in lst:
    if(element[1]>=0):
        d=abs(element[1])
   
    dist.append((d,element))
    
dist.sort()
print(dist[0][1])

(-4, 1)

In [22]:
lst=[(-4,1),(2,3),(1,1),(5,2),(4,-3),(-5,-4)]
dist =[]
for element in lst:
    if(element[1]>=0):
        d=abs(element[1])
   
    dist.append((d,element))
    
#print(dist)
minimum=dist[0][0]
coordinate =dist[0][1]
for i in range(len(dist)):
    if(dist[i][0]<minimum):
        minimum=dist[i][0]
        coordinate=dist[i][1]
#print(minimum)
print(coordinate)

(-4, 1)

In [23]:
abs(-3)

3

#  Find the point closest to y-axis

In [58]:
lst=[(-4,1),(2,3),(1,3),(5,2),(4,-3),(-5,-4)]
dist =[]
for element in lst:
    if(element[0]>=0):
        d=element[0]
    else:
        d=-element[0]
    dist.append((d,element))
    
dist.sort()
print(dist[0][1])

(1, 3)

In [4]:
lst=[(-4,1),(2,3),(1,3),(5,2),(4,-3),(-5,-4)]
dist =[]
for element in lst:
    d=abs(element[0])
    dist.append((d,element))
    
dist.sort()
print(dist[0][1])

(1, 3)

# Find the point closest to nthe line parallel to x-axis and pasing through the point (2,3)

In [13]:
lst=[(1,5),(-2,4),(-4,1),(-3,-2),(3,-4)]
dist=[]
for element in lst:
    if(element[1]>=3):
        d=element[1]-3
    else:
        d=3-element[1]
    dist.append((d,element))
dist.sort()
print(dist[0][1])

(-2, 4)

In [14]:
 lst=[(1,5),(-2,4),(-4,1),(-3,-2),(3,-4)]
dist=[]
for element in lst:
    d=abs(element[1]-3)
    dist.append((d,element))
dist.sort()
print(dist[0][1])

(-2, 4)

In [18]:
lst=[(1,5),(-2,4),(-4,1),(-3,-2),(3,-4)]
dist=[]
for element in lst:
    d=abs(element[1]-3)
    dist.append((d,element))
#print(dist)
minimum=dist[0][0]
coordinate =dist[0][1]
for i in range(len(dist)):
    if(dist[i][0]<minimum):
        minimum=dist[i][0]
        coordinate=dist[i][1]
#print(minimum)
print(coordinate)

(-2, 4)

# Find the point closest to the line parallel to y-axis and pasing through the point (2,3)

In [ ]:
# homework

# SET

In [24]:
myset={1,2,3,4,5}
print(myset)

{1, 2, 3, 4, 5}

In [25]:
myset.add(6)
print(myset)

{1, 2, 3, 4, 5, 6}

In [26]:
myset.remove(3)
print(myset)

{1, 2, 4, 5, 6}

In [28]:
myset={}  #this will be considered as an empty dictionary
myset.add(7)
print(myset)

AttributeError: 'dict' object has no attribute 'add'

In [29]:
myset = set()
myset.add(7)
print(myset)

{7}

In [31]:
myset = {1,2,3,4,5}
myset.update([6,7,8,9])
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
myset = {1,2,3,4,5}
myset.update((6,7,8,9))
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
myset = {1,2,3,4,5}
myset.update({6,7,8,9})
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
myset={1,2,3,4,5}
myset.remove(3)
print(myset)

{1, 2, 4, 5}

In [6]:
type(myset)

set

In [7]:
print(type(myset))

<class 'set'>

In [12]:
myset={1,2,3,4,5}
myset.remove(3)
myset.remove(3)
print(myset)

KeyError: 3

In [14]:
myset.remove(3)      # If you execute this more than once, you will get error because 3 will not be present after removing it once.
print(myset)

KeyError: 3

In [15]:
myset = {1,2,3,4,5}
myset.discard(3)
myset.discard(3)
print(myset)

{1, 2, 4, 5}

In [16]:
myset={1,2,3,4,5}
myset.pop()

1

In [17]:
myset={1,2,3,4,5}
print(myset[0])

TypeError: 'set' object is not subscriptable

In [18]:
myset={1,2,3,4,5}  #immutable
myset[0]=7      #TypeError: 'set' object does not support item assignment

TypeError: 'set' object does not support item assignment

In [19]:
myset={1,2,3,4,5}
for i in range(len(myset)):
    print(myset[i])  #TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

# dictionary

In [20]:
dictx={1:'abc',2:'def',3:'ghi'}
print(dictx)

{1: 'abc', 2: 'def', 3: 'ghi'}

In [21]:
dictx[2]

'def'

In [22]:
dictx.keys()

dict_keys([1, 2, 3])

In [23]:
list(dictx.keys())

[1, 2, 3]

In [24]:
list(dictx)

[1, 2, 3]

In [25]:
dictx.values()

dict_values(['abc', 'def', 'ghi'])

In [26]:
type(dictx.values())

dict_values

In [28]:
dictX = {1 : 'abc', 2 : 'def', 3 : 'ghi'}
for key in dictX:
    print(f'Key : {key} ; Value : {dictX[key]}')

Key : 1 ; Value : abc
Key : 2 ; Value : def
Key : 3 ; Value : ghi

In [29]:
dictX = {1 : 'abc', 2 : 'def', 3 : 'ghi'}
dictX.pop(2)
print(dictX)

{1: 'abc', 3: 'ghi'}

In [30]:
dictX = {1 : 'abc', 2 : 'def', 3 : 'ghi'}
dictX.pop()
print(dictX)

TypeError: pop expected at least 1 argument, got 0

In [31]:
dictX = {1 : 'abc', 2 : 'def', 3 : 'ghi'}
dictX.update({4 : 'xyz'})
print(dictX)

{1: 'abc', 2: 'def', 3: 'ghi', 4: 'xyz'}

In [32]:
dictx

{1: 'abc', 2: 'def', 3: 'ghi'}

In [41]:
dictx[5]='mansi'
print(dictx[5])

mansi

# find the freq of each element in the list

In [40]:
lst=[1,4,2,5,1,6,2,1,7,4,1]
dictx={}
for element in lst:                                       # freq.
    if(element in dictx):
        dictx[element]+=1
    else:
        dictx[element]=1
print(dictx)

{1: 4, 4: 2, 2: 2, 5: 1, 6: 1, 7: 1}